
/*desktop*/
@media screen and (min-width: 1025px) {

}
/*tablet*/
@media screen and (max-width: 1024px) {

}

/*mobile*/
@media screen and (max-width: 600px) {

  body {
    font-family: montserrat, varela-round;
    color: #22181C;
  }

  .logo {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    padding-top: 40px;
    padding-right: 5px;
    padding-bottom: 100px;
  }

  .ef-logo {
    height: 30px;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    position: absolute;
    right: 15px;
    margin: 10px;
  }

  .hamburger-icon {
    height: 27.5px;
  }

  .project-hero {
    padding-top: 100px;
  }

  .hero-title h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .project-hero-image {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  .button {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
  }

  .button1 {
    font-size: 1rem;
    font-weight: 500;
    color: #22181C;
    border-color: #22181C;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    margin: 20px 0;
    width: 220px;
    height: 45px;
    text-decoration: none;
    text-align: center;
  }

  .overview {
    background-color: #EEF3FE;
    text-align: left;
    letter-spacing: .05rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1rem;
    line-height: 1.6;
  }

  .overview2 {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    font-size: 1rem;
    line-height: 1.6;
  }

  .deliverables {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    font-size: 1rem;
    line-height: 1.6;
  }

  .aside-content-section p {
    padding-top: 0;
  }

  .google-preview {
    height: 200px;
  }

  .icloud-preview {
    height: 200px;
  }

  .dropbox-preview {
    height: 200px;
  }

  .research-discovery {
    background-color: #EEF3FE;

    /*display: flex;
    justify-content: center;*/
  }

  .research-discovery h2 {
    text-align: left;
    letter-spacing: .05rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .research-discovery p {
    text-align: left;
    letter-spacing: .05rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 1rem;
    line-height: 1.6;
  }
}
