* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
 /*background-image: url("../Images/mobile-background.svg");*/
 background-repeat: no-repeat;
 font-family: montserrat, work-sans, varela-round;
 background-size: 80%, 80%;
 font-size: 1.6rem;
 font-weight: 300;
 line-height: 3.5rem;
}

/*.containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/

header {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.hero {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;

}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.ef-logo {
  text-align: center;
}

.mobile-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
  width: 10%;
}

.hamburger-icon {
  width: 50px;
  height: auto;
}

.desktop-nav {
  display: none;
}

.project1 h2 {
  font-size: 3rem;
  color: #EEF3FE;
  padding-left: 50px;
  padding-top: 100px;
}

.project1 p {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: normal;
  color: #EEF3FE;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.project1-image {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.button1 {
  text-align: center;
  padding: 20px;
}

.project2 h2 {
  font-size: 3rem;
  color: #22181C;
  padding-left: 50px;
  padding-top: 100px;
}

.project2 p {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: normal;
  color: #22181C;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.project2-image {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.project3 h2 {
  font-size: 3rem;
  color: #EEF3FE;
  padding-left: 50px;
  padding-top: 100px;
}

.project3 p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: normal;
  color: #EEF3FE;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.project3-image {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

footer {
  font-size: 1.4rem;
  font-family: montserrat;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.table {
  display: table;
  margin: auto;
}

.social {
list-style: none;
}
  .social li {
    display: inline;
  }

.linkedin-logo
{
  width: 100px;
}

.github-logo
{
  width: 100px;
}

.instagram-logo
{
  width: 100px;
}
