* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
 /*background-image: url("../Images/mobile-background.svg");*/
 background-repeat: no-repeat;
 font-family: montserrat, work-sans, varela-round;
 background-size: 80%, 80%;
 font-size: 1.6rem;
 font-weight: 300;
 line-height: 3.5rem;
}

.containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  justify-content: center;
  grid-area: header;
  margin: 3rem;
}

.hero {
  font-size: 2.2rem;
  text-align: left;
  margin: 50px;
}

.ef-logo {
  justify-content: center;
  width: 120px;
  padding-left: 20px;
  padding-top: 80px;
}

.hamburger-icon {
  width: 50px;
  height: auto;
  position: relative;
}

.project1 h2 {
  font-size: 5rem;
  color: #EEF3FE;
  padding-left: 50px;
  padding-top: 100px;
}

.project1 p {
  font-size: 4rem;
  font-weight: normal;
  color: #EEF3FE;
  padding-left: 50px;

}

.project h2 {
  font-size: 1.6rem;
}

footer {
  grid-area: footer;
  font-size: 2rem;
  font-family: montserrat;
  text-align: center;
}

.linkedin-logo
{
  width: 100px;
}

.github-logo
{
  width: 100px;
}

.instagram-logo
{
  width: 100px;
}
